/* app css stylesheet */

body {
    width: 760px;
    background-color: rgb(249, 248, 249);
    margin: 0 auto;
}

#myForm {
    padding-top:25px;
    margin-left:25px;
}

#in{
    height: 50px;
    margin-left: 0px;
    background: #FFF;
    position: relative;
}

#option{
    height: 50px;
    width: 128px;
    margin-left: 0px;
    background: #FFF;
    position: relative;
}


    